
<div class="row">        <!-- first two days -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 1</h3>
    <table class="table table-striped">
    
    <tr>               <!-- row 2   -->
        <td>09:00</td>        <!-- time    -->
        <td>Welcome and introduction</td>        <!-- content -->
      </tr>
    <tr>               <!-- row 3   -->
        <td>09:20</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell (Introduction, Files and Directories)</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td>Coffee Break I</td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>10:45</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell (Pipes and Filters, Loops)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:40</td>        <!-- time    -->
        <td>Coffee Break II</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>11:55</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/shell-novice/">The Unix Shell (Shell Scripts, Finding Things)</a></td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>12:50</td>        <!-- time    -->
        <td>Last questions and reminder feedback </td>        <!-- content -->
      </tr>
   <tr>               <!-- row 3   -->
        <td>13:00</td>        <!-- time    -->
             <td>End</td>        <!-- content -->
 </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 2</h3>
    <table class="table table-striped">
    <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Welcome and Kick-start</td>        <!-- content -->
     </tr>
   <tr>               <!-- row 2   -->
      <td>09:15</td>    <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Programming with Python (Introduction, Python Fundamentals, Analyzing Data)</a></td>        <!-- content -->
    </tr>
   <tr>               <!-- row 3   -->
        <td>10:25</td>        <!-- time    -->
        <td>Coffee Break I </td>        <!-- content -->
     </tr>
        <tr>               <!-- row 4  -->
            <td>10:40</td>         <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Programming with Python (Visualization, Lists)</a></td>        <!-- content -->
      </tr>
         <tr>               <!-- row 6   -->
        <td>11:45</td>        <!-- time    -->
        <td>Coffee Break II</td>        <!-- content -->
      </tr>
         <tr>               <!-- row 7  -->
        <td>12:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Programming with Python (Loops, Analyzing Data from Multiple Files)</a></td>        <!-- content -->
  </tr>
        <tr>               <!-- row 3   -->
        <td>12:50</td>        <!-- time    -->
        <td>Questions and Wrap-up</td>        <!-- content -->
      </tr>
      <tr>               <!-- row 3   -->
        <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
</div>
<div class="row">        <!-- days 3 and 4 -->
  <div class="col-md-6"> <!-- left column -->
    <h3>Day 3</h3>
    <table class="table table-striped">
       <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Welcome and Kick-start</td>        <!-- content -->
     </tr>
     <tr>               <!-- row 3   -->
        <td>09:10</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/">Programming with Python (If-else, Functions)</a></td>        <!-- content -->
     </tr>
     <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td>Exercise in Breakout Room</td>        <!-- content -->
     </tr> 
     <tr>               <!-- row 3   -->
        <td>10:45</td>        <!-- time    -->
        <td>Coffee break I</td>        <!-- content -->
     </tr>
      <tr>               <!-- row 3   -->
        <td>11:00</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Programming with Python (Errors and Exceptions, Defensive programming)</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>11:50</td>        <!-- time    -->
        <td>Coffee break II</td>        <!-- content -->
     </tr>   
        <tr>               <!-- row 3   -->
        <td>12:05</td>        <!-- time    -->
        <td><a href="https://swcarpentry.github.io/python-novice-inflammation/ ">Programming with Python (Debugging, Command-line)</a></td>        <!-- content -->
      </tr>
  <tr>               <!-- row 3   -->
        <td>12:50</td>        <!-- time    -->
        <td>Questions and Wrap-up</td>        <!-- content -->
     </tr> 
      <tr>               <!-- row 3   -->
   <td>13:00</td>        <!-- time    -->
        <td>End</td>        <!-- content -->
      </tr>
    </table>
  </div>
  <div class="col-md-6"> <!-- right column -->
    <h3>Day 4</h3>
    <table class="table table-striped">
            <tr>               <!-- row 1   -->
        <td>09:00</td>        <!-- time    -->
        <td>Welcome and Kick-start</td>        <!-- content -->
     </tr>
     <tr>               <!-- row 3   -->
        <td>09:15</td>        <!-- time    -->
        <td><a href=" https://swcarpentry.github.io/git-novice/">Version Control with Git (Introduction, Create Repo)</a></td>        <!-- content -->
      </tr>
     <tr>               <!-- row 3   -->
        <td>09:55</td>        <!-- time    -->
        <td>Breakout exercise</td>        <!-- content -->
     </tr>  
     <tr>               <!-- row 3   -->
        <td>10:15</td>        <!-- time    -->
        <td>Coffee break I</td>        <!-- content -->
     </tr>  
      <tr>               <!-- row 3   -->
        <td>10:30</td>        <!-- time    -->
        <td><a href=" https://swcarpentry.github.io/git-novice/">Version Control with Git (History, Ignore, Remote)</a></td>        <!-- content -->
      </tr>
       <tr>               <!-- row 3   -->
        <td>11:50</td>        <!-- time    -->
        <td>Coffee break II</td>        <!-- content -->
     </tr>   
        <tr>               <!-- row 3   -->
        <td>12:05</td>        <!-- time    -->
        <td><a href=" https://swcarpentry.github.io/git-novice/">Version Control with Git (Collaborating and Conflicts, Final Discussion)</a></td>        <!-- content -->
      </tr>
  <tr>               <!-- row 3   -->
        <td>12:50</td>        <!-- time    -->
        <td>Questions and wrap up</td>        <!-- content -->
     </tr> 
      <tr>               <!-- row 3   -->
   <td>13:00</td>        <!-- time    -->
        <td>End/<a href="{{ site.post_survey }}{{ site.github.project_title }}" target="_blank">Post-workshop survey</a></td>
      </tr>
    </table>
  </div>
</div>
<hr/>
